<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teknologi Untuk Hidup</title>
    <link rel="stylesheet" base href={{ "/assets/css/bootstrap.min.css" | absolute_url }}>
    <!-- {{ "/assets/css/bootstrap.min.css" | absolute_url }} -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel=" stylesheet" base href={{ "/assets/css/slick.css" | absolute_url }}>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">
    <link rel="stylesheet" href={{ "/assets/style.css" | absolute_url }}>
    
    <!-- syntax.css -->
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | absolute_url }}>
</head>

<body>
    <div class="site-wrapper">
        <div class="main-overlay"></div>
        <header class="header-default">
            <nav class="navbar navbar-expand-lg">
                <div class="container-xl">
                    <!-- logo  -->
                    <a href="index.html" class="navbar-brand">
                        <img src="images/logo.svg" alt="">
                    </a>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown active">
                                <a href={{"index.html" | absolute_url}} class="nav-link">Home</a>
                                <!-- <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" class="dropdown-item">Fashion</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-item">Movies</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-item">Electronic</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-item">Cricket</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-item">Technology</a>
                                    </li>

                                </ul> -->
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Latest</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Trending</a>
                            </li>
                            <li class="nav-item">
                                <a href={{"about" | absolute_url}} class="nav-link">About Me</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li> -->
                        </ul>
                    </div>

                    <!-- right side of header  -->
                    <div class="header-right">
                        <ul class="social-icons list-unstyled list-inline mb-0">
                            <li class="list-inline-item">
                                <a href=https://www.facebook.com/joenmarz/ target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=https://twitter.com/joenmarz target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=https://github.com/LarryMarzanJr target="_blank"><i class="fab fa-github"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=https://www.instagram.com/joenmarz target="_blank"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href=https://www.youtube.com/channel/UCGaTayD5vfwzIJFmDQu3jDw target="_blank"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>

                        <!-- buttons  -->
                        <div class="header-buttons">
                            <button class="search icon-button">
                                <i class="icon-magnifier"></i>
                            </button>
                            <button class="burger-menu icon-button">
                                <span class="burger-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>


        </header>

        <!-- main content  -->

        <section class="main-content">
            <div class="container-xl">
                <div class="row gy-4">

                    <!-- left part 1st section index.html-->
                    <div class="col-lg-8">
                        {{content}}
                        <!-- left part over here  -->
                    </div>
                    
                    <!-- right part starts from here  -->
                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="widget rounded">
                                <div class="widget-header text-center">
                                    <h3 class="widget-title"><a href={{"categories" | absolute_url}}>Kategori</a></h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <!-- loop categories category[0] is the name, category[1].size to count number of posts on each category-->
                                        {% for category in site.categories %}
                                        <li><a href="categories#{{ category[0] | slugify }}">{{ category[0] }}<span>{{ category[1].size }}</span></a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container-xl">
                <div class="footer-inner">
                    <div class="row d-flex align-items-center gy-4">
                        <div class="col-md-4">
                            <span class="copyright">&copy; 2013 - {{ site.time | date: '%Y' }} LarryMarzanJr </span>
                        </div>
                        <div class="col-md-4 text-center">
                            <ul class="social-icons list-unstyled list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href=https://www.facebook.com/joenmarz/ target="_blank"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=https://twitter.com/joenmarz target="_blank"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=https://github.com/LarryMarzanJr target="_blank"><i class="fab fa-github"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=https://www.instagram.com/joenmarz target="_blank"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=https://www.youtube.com/channel/UCGaTayD5vfwzIJFmDQu3jDw target="_blank"><i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <a href="#" id="return-to-top" class="float-md-end">
                                <i class="icon-arrow-up"></i>
                                Back to Top
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>




    </div>


    <!-- canvas menu  -->
    <div class="canvas-menu d-flex align-items-end flex-column">
        <button class="btn-close" aria-label="Close" type="button"></button>

        <div class="logo">
            <img src="images/logo.svg" alt="">
        </div>
        <nav>
            <ul class="vertical-menu">
                <li class="active">
                    <a href={{"index.html" | absolute_url}}>Home</a>
                    <!-- <ul class="submenu">
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Movies</a></li>
                        <li><a href="#">Electronic</a></li>
                        <li><a href="#">Cricket</a></li>
                        <li><a href="#">Technology</a></li>
                    </ul> -->
                </li>
                <li><a href="#">Latest</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href={{"about" | absolute_url}}>About Me</a></li>
                <!-- <li><a href="#">Contact</a></li> -->
            </ul>
        </nav>


        <ul class="social-icons list-unstyled list-inline mb-0 mt-auto w-100">
            <li class="list-inline-item">
                <a href=https://www.facebook.com/joenmarz/ target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item">
                <a href=https://twitter.com/joenmarz target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href=https://github.com/LarryMarzanJr target="_blank"><i class="fab fa-github"></i></a>
            </li>
            <li class="list-inline-item">
                <a href=https://www.instagram.com/joenmarz target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
                <a href=https://www.youtube.com/channel/UCGaTayD5vfwzIJFmDQu3jDw target="_blank"><i class="fab fa-youtube"></i></a>
            </li>
        </ul>
    </div>


    <!-- search pop up  -->
    <div class="search-popup">
        <button class="btn-close" aria-label="Close" type="button"></button>

        <div class="search-content">
            <div class="text-center">
                <h3 class="mb-4 mt-0">Press ESC to close</h3>
            </div>

            <form action="" class="d-flex search-form">
                <input type="search" placeholder="Search and press enter ..." aria-label="Search"
                    class="form-control me-2">
                <button class="btn btn-default btn-lg" type="submit">
                    <i class="icon-magnifier"></i>
                </button>
            </form>
        </div>
    </div>









    <!-- javascripts  -->
    <script src={{ "/assets/js/jquery.min.js" | absolute_url }}></script>
    <script src={{ "/assets/js/popper.min.js" | absolute_url }}></script>
    <script src={{ "/assets/js/bootstrap.min.js" | absolute_url }}></script>
    <script src={{ "/assets/js/slick.min.js" | absolute_url }}></script>
    <script src={{ "/assets/js/jquery.sticky-sidebar.min.js" | absolute_url }}></script>
    <script src={{ "/assets/main.js" | absolute_url}}></script>

</body>

</html>